<div class="container">
  <table>
    <thead>
    <tr>
      <th>Parameter</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Name</td>
      <td><%= @student.first_name + " " + @student.middle_name + " " + @student.last_name %></td>
    </tr>
    <tr>
      <td>Group</td>
      <td><%= @student.group %></td>
    </tr>
    <tr>
      <td>Algebra_score</td>
      <td><%= @student.algebra_score.to_s %></td>
    </tr>
    <tr>
      <td>Geometry_score</td>
      <td><%= @student.geometry_score.to_s %></td>
    </tr>
    <tr>
      <td>Computer_Science_score</td>
      <td><%= @student.computer_science_score.to_s %></td>
    </tr>
    <tr>
      <td>Freshman_state</td>
      <td><%= @student.freshman_state %></td>
    </tr>
    </tbody>
  </table>

  <ul>
    <li><%= link_to "Edit", edit_student_path(@student), class: "button" %></li>
    <li><%= link_to "Destroy", student_path(@student), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button" %></li>
  </ul>

  <%= link_to "Main Page", root_path, class: "button" %>
</div>