<div class="container">
  <table class="styled-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Algebra_score</th>
      <th>Geometry_score</th>
      <th>Computer_Science_score</th>
      <th>Freshman_state</th>
    </tr>
    </thead>
    <tbody>
    <% students_list.each do |student| %>
      <tr>
        <td><%= "#{student.first_name} #{student.middle_name} #{student.last_name}" %></td>
        <td><%= student.group %></td>
        <td><%= student.algebra_score.to_s %></td>
        <td><%= student.geometry_score.to_s %></td>
        <td><%= student.computer_science_score.to_s %></td>
        <td><%= student.freshman_state %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
